* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    font-weight: 400;
}

body {
    display: flex;
    justify-content: center;
    height: 100vh;
    background-color: #9AA6CF;
    align-items: center;
}

.container {
    display: flex;
    flex-direction: column;
    padding: 70px 50px 50px 50px;
    background-color: #ffffff;
    max-width: 693px;
    border-radius: 10px;
}

.input-container {
    display: flex;
}

h1 {
    text-align: center;
    font-weight: 700;
    font-size: 24px;
    line-height: 30px;
}

h2 {
    font-weight: 700;
    font-size: 22px;
    line-height: 29,96px;
    margin: 50px 0 10px 0;
}

h3 {
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    margin: 10px 0 20px 0;
}

.input-container {
    display: flex;
    flex-direction: column;
}

label {
    font-weight: 700;
    font-size: 14px;
    line-height: 19px;
    margin-bottom: 5px;
}

input {
    border: 1px solid #CED5EC;
    min-height: 74px;
    border-radius: 5px;
    padding-left: 25px;
}

input:focus {
    all: unset;
    border: 1px solid #5F82FF;
    box-sizing: border-box;
    min-height: 74px;
    border-radius: 5px;
    padding-left: 25px;
}

input::placeholder {
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    color: #000000;
}

.column {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    margin-top: 20px;
}

.left {
    margin-right: 7.5px;
}

.right {
    margin-left: 7.5px;
}

.row {
    display: flex;
    justify-content: center;
}

p {
    margin: 50px 0 27px 0;
    text-align: center;
    max-width: 533px;
}

button {
    min-height: 115px;
    border-radius: 5px;
    background-color: #5F82FF;
    color: #ffffff;
    font-weight: 700;
    font-size: 18px;
    line-height: 25px;
    border: 0px;
}

button:hover {
    background-color: #093DF3;
}